<div id="chevrontabs">
	<ul>
		<li><a href="{U_OVERVIEW}"><span>{L_POINTS_OVERVIEW}</span></a></li><li class="activetab"><a href="{U_INFO}"><span>{L_POINTS_INFO}</span></a></li><!-- IF TRANSFER_ENABLE and U_USE_TRANSFER --><li ><a href="{U_TRANSFER_USER}"><span>{L_POINTS_TRANSFER}</span></a></li><!-- ENDIF --><!-- IF LOGS_ENABLE and U_USE_LOGS --><li ><a href="{U_LOGS}"><span>{L_POINTS_LOGS}</span></a></li><!-- ENDIF --><!-- IF LOTTERY_ENABLE and U_USE_LOTTERY --><li ><a href="{U_LOTTERY}"><span>{LOTTERY_NAME}</span></a></li><!-- ENDIF --><!-- IF BANK_ENABLE and U_USE_BANK --><li ><a href="{U_BANK}"><span>{BANK_NAME}</span></a></li><!-- ENDIF --><!-- IF ROBBERY_ENABLE and U_USE_ROBBERY --><li ><a href="{U_ROBBERY}"><span>{L_POINTS_ROBBERY}</span></a></li><!-- ENDIF -->
	</ul>
</div>


<!-- <div id="chevrontabs">
	<ul>
		<li><a href="{U_OVERVIEW}"><span>{L_POINTS_OVERVIEW}</span></a></li>
		<li class="activetab"><a href="{U_INFO}"><span>{L_POINTS_INFO}</span></a></li>
		<!-- IF TRANSFER_ENABLE and U_USE_TRANSFER --><li ><a href="{U_TRANSFER_USER}"><span>{L_POINTS_TRANSFER}</span></a></li><!-- ENDIF -->
		<!-- IF LOGS_ENABLE and U_USE_LOGS --><li ><a href="{U_LOGS}"><span>{L_POINTS_LOGS}</span></a></li><!-- ENDIF -->
		<!-- IF LOTTERY_ENABLE and U_USE_LOTTERY --><li ><a href="{U_LOTTERY}"><span>{LOTTERY_NAME}</span></a></li><!-- ENDIF -->
		<!-- IF BANK_ENABLE and U_USE_BANK --><li ><a href="{U_BANK}"><span>{BANK_NAME}</span></a></li><!-- ENDIF -->
		<!-- IF ROBBERY_ENABLE and U_USE_ROBBERY --><li ><a href="{U_ROBBERY}"><span>{L_POINTS_ROBBERY}</span></a></li><!-- ENDIF -->
	</ul>
</div> -->